body {
    font-family: Verdana, Geneva, sans-serif!important; 
}

/* HOME */

.side-menu {
    background: #f8f9fa;
    margin-top: 10px;
    max-height: 500px;
    padding: 5px;
}

.front-post {
    background: #f8f9fa;
    border-radius: 1%;
    padding: 5px;
}

.media-heading a {
    color: #2a517a!important;
}

.btn-tag {
    border: #2a517a solid 2px!important;
    color: #2a517a!important;
    font-weight: bold!important;
}

.btn-tag:hover {
    background: #2a517a!important;
    color: white!important;
}

.pagination {
    margin-top: 10px;
}

.page-item.active .page-link {
    background-color: #2a517a!important;
    border-color: #2a517a!important;
    color: white!important;
}

.page-link {
    color: #2a517a!important
}

.front-post > div {
    margin-right: 5px;
}

.img-size {
    width: 200px;
    overflow: hidden;
    position: relative;
    height: 200px;
}

.img-size img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/* POSTS */

.row-view {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.comment-post {
    background: #f8f9fa!important;
    padding: 10px;
}

.btn-send {
    background: #2a517a!important
}

.btn-send:hover {
    background: #1a3653!important
}

.comment {
    margin: auto;
}

.comment-input {
    width: 50%;
}


/* ABOUT */

.about-title {
    margin-top: 10px;
}

.about {
    margin-top: 10px;
    background: #f8f9fa!important;
    padding: 5px;
}

.about p:nth-child(-n+5) {
    font-weight: bold;
}